<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.testcy.mapper.CaseMapper">
    <select id="loginCase" resultType="com.testcy.bean.LoginCase">
        select * from loginCase where id=#{id}
    </select>

    <select id="addUserCase" resultType="com.testcy.bean.AddUserCase">
        select * from addUserCase where id=#{id}
    </select>

    <select id="getUserListCase" resultType="com.testcy.bean.GetUserListCase">
        select * from getUserListCase where id=#{id}
    </select>
    <select id="GetUserInfoCase" resultType="com.testcy.bean.GetUserInfoCase">
        select * from getUserInfoCase where id=#{id}
    </select>

    <select id="updateUserInfoCase" resultType="com.testcy.bean.UpdateUserInfoCase">
        select * from updateUserInfoCase where id=#{id}
    </select>

</mapper>